<% @questions.each do |question| %>
  <% if !question.user.nil? && !question.course.nil?%>
    <div class="question-block">
      <div class="question-info"><%= question.user.name %> asked:</div>
      <div class="question-block-content"><%= question.content %></div>
      <%= question.course.university.alias %> / <%= question.course.alias %>
    </div>
    <div class="answers-blok">
      <% question.answers.each do |answer| %>
        <div class="answer-info">
          <%= answer.user.name %> answered:
        </div>
        <div class="answer">
          <%= answer.content %>
        </div>
      <% end %>
    </div>
    <div class="answer-question">
      <%= render partial: 'shared/answer_form', locals: { question: question } %>
    </div>
    <br><!-- somebody please remove this shitty break!
             Hint: Use fucking CSS (margin-bottom somsing, somsing in class question-block in custom.css.scss) -->
  <% end %>
<% end %>
