<!--
<div class="panel panel-default">
    <div class="panel-heading">
        	<h3>Navigation</h3>

    </div>
		  <div id="sidebar" class="list-group">
				<a href="#" class="list-group-item active">
					<i class="icon-dashboard"></i> Dashboard
				</a>
				<a href="#users" class="list-group-item" data-toggle="collapse" data-parent="#sidebar">	
					<i class="icon-group"></i> Users<span class="badge bg_danger">0</span>
				</a>

		  <div id="users" class="list-group subitem collapse in">
				<a href="#" class="list-group-item">
					<i class="icon-caret-right"></i> Users<span class="badge bg_danger">0</span></a>
				<a href="#" class="list-group-item">
					<i class="icon-caret-right"></i> Create User</a>
				<a href="#" class="list-group-item">
					<i class="icon-caret-right"></i> Create Group</a>
		  </div>

			<a href="#articles" class="list-group-item" data-toggle="collapse" data-parent="#sidebar">
					<i class="icon-file-text"></i> Articles<span class="badge bg_danger">0</span></a>

		  <div id="articles" class="list-group subitem collapse">	
				<a href="#" class="list-group-item bg_warning">
					<i class="icon-caret-right"></i> Articles<span class="badge bg_danger">0</span></a>
				<a href="#" class="list-group-item">
					<i class="icon-caret-right"></i> Create Article</a>

		  </div>
    </div>
</div>
-->
<aside class="span4">

	             <div>
                  <%= link_to gravatar_for(current_user, size: 64), current_user %>
                  <%= link_to current_user.name, current_user %>
                </div>

             <br><br>
  <!--<div>
    <%= render current_user %>
  </div>
  <br> --> <!-- ugliest thing in HTML, this br -->

<div class="panel panel-default">
  <div id="sidebar" class="list-group">
      <% @universities.each do |uni| %>
        <div class="list-group-item">
        <a href=<%= '#' + "courses#{uni.id}" %> data-toggle="collapse" data-parent="#sidebar">+</a>
        <%= link_to uni.alias, uni %>
        </div>
        <div id=<%= "courses#{uni.id}" %> class="list-group subitem collapse in">
        <% uni.courses.each do |course| %>
          <%= link_to course.alias, course, class: "list-group-item" %>
        <% end %>
        </div>
      <% end %>
  </div>
</div>
</aside>
