<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Alias:</strong>
  <%= @course.alias %>
</p>

<p>
  <strong>Year:</strong>
  <%= @course.year %>
</p>

<div>
  <%= render partial: 'shared/feed' %>
</div>